.form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    margin: 10px 0;
}

.sent {
    margin-top: 15px;
    background-color: blue;
    color: white;
    cursor: pointer;
    width: 120px;
    height: 40px;
}

.sent:hover {
    background-color: white;
    color: blue;
    transform: scale(1.1);
}

.sent:disabled {
    background-color: gray;
    color: black;
}

.error {
    color: red;
}